---
import { app } from "../firebase/server";
import { getFirestore } from "firebase-admin/firestore";

interface CreatedAt {
  _seconds: number;
  _nanoseconds: number;
}

interface News {
  id: string;
  title: string;
  imageUrl: string;
  alt: string;
  createdAt: CreatedAt;
}

const db = getFirestore(app);
const newsRef = db.collection("news");
const newsSnapshot = await newsRef.get();
const news = newsSnapshot.docs.map((doc) => ({
  id: doc.id,
  ...doc.data(),
})) as News[];

const newsList = news.map((newsItem) => {
  // Convertir el timestamp de Firebase a milisegundos
  const date = new Date(
    newsItem.createdAt._seconds * 1000 +
      newsItem.createdAt._nanoseconds / 1000000
  );

  // Ajustar la fecha a UTC-3 (hora local de Argentina)
  const adjustedDate = new Date(date.getTime() - 3 * 60 * 60 * 1000); // Restar 3 horas para ajustar a UTC-3

  // Formatear la fecha para el tag meta
  const publishedTime = adjustedDate.toISOString().slice(0, -8) + "-03:00";

  // Formatear la fecha para el tag time en formato legible
  const options = {
    year: "numeric",
    month: "long",
    day: "numeric",
    timeZone: "America/Argentina/Buenos_Aires", // Ajustar zona horaria
  };

  const readableTime = new Intl.DateTimeFormat("es-AR", options).format(date);

  return {
    ...newsItem,
    publishedTime,
    readableTime,
  };
});
---

<section>
  {
    newsList.map((newsItem) => (
      <article>
        <a href={`/noticias/${newsItem.id}`}>
          <figure>
            <img src={newsItem.imageUrl} alt={newsItem.alt} loading="lazy" />
          </figure>
          <time datetime={newsItem.publishedTime}>{newsItem.readableTime}</time>
          <h3>{newsItem.title}</h3>
        </a>
      </article>
    ))
  }
</section>

<style>
  section {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    gap: 2rem;
  }

  a {
    &:is(:hover, :focus-visible) {
      img {
        scale: 1.05;
      }

      h3 {
        color: var(--blue);
      }
    }
  }

  figure {
    overflow: hidden;
    border-radius: 0.5rem;
  }

  img {
    width: 100%;
    object-fit: cover;
    aspect-ratio: 3/2;
    transition: scale 0.3s;
  }

  time {
    font-size: 0.75rem;
  }

  h3 {
    font-weight: bold;
    transition: color 0.3s;
  }
</style>
