---
export const prerender = false;

import { app } from "@/firebase/server";
import { getFirestore } from "firebase-admin/firestore";
import { getAuth } from "firebase-admin/auth";
import DashboardLayout from "../_DashboardLayout.astro";

const auth = getAuth(app);

if (!Astro.cookies.has("__session")) {
  return Astro.redirect("/login");
}
const sessionCookie = Astro.cookies.get("__session").value;
const decodedCookie = await auth.verifySessionCookie(sessionCookie);
const user = await auth.getUser(decodedCookie.uid);

if (!user) {
  return Astro.redirect("/login");
}

interface News {
  title: string;
  lead: string;
  imageUrl: string;
  alt: string;
  body: string;
}

const { id } = Astro.params;

if (!id) {
  return Astro.redirect("/404");
}

const db = getFirestore(app);
const newsRef = db.collection("news");
const newsSnapshot = await newsRef.doc(id).get();

if (!newsSnapshot.exists) {
  return Astro.redirect("/404");
}

const news = newsSnapshot.data() as News;
---

<DashboardLayout>
  <form class="article-form">
    <h1>Editar noticia</h1>
    <label>
      <span>Título</span>
      <input name="title" required value={news.title} />
    </label>
    <label>
      <span>Entrada</span>
      <textarea name="lead" required>{news.lead}</textarea>
    </label>
    <div>
      <span>Imagen actual</span>
      <img src={news.imageUrl} alt={news.alt} width="200" />
    </div>
    <label>
      <span>Imagen</span>
      <input type="file" name="image" />
    </label>
    <label>
      <span>Alt</span>
      <input name="alt" required value={news.alt} />
    </label>
    <div class="editor-container">
      <div id="editor"></div>
    </div>
    <button type="submit">Editar</button>
    <button type="button" id="delete-document">Eliminar</button>
  </form>
</DashboardLayout>

<script define:vars={{ id, news }} type="module">
  import "https://cdn.jsdelivr.net/npm/quill@2.0.2/dist/quill.js";

  const $form = document.querySelector(".article-form");

  const options = {
    modules: {
      toolbar: [
        // [{ font: [] }],
        [{ size: ["small", false, "large", "huge"] }],
        [{ header: [1, 2, 3, 4, 5, 6, false] }],
        ["bold", "italic", "underline", "strike"],
        ["blockquote", "code-block"],
        ["link", "image", "video", "formula"],
        [{ header: 1 }, { header: 2 }],
        [{ list: "ordered" }, { list: "bullet" }, { list: "check" }],
        [{ script: "sub" }, { script: "super" }],
        [{ indent: "-1" }, { indent: "+1" }],
        [{ direction: "rtl" }],
        [{ color: [] }, { background: [] }],
        [{ align: [] }],
        ["clean"],
      ],
    },
    placeholder: "Escribe el cuerpo de la noticia aquí...",
    theme: "snow",
  };
  const quill = new Quill("#editor", options);
  quill.clipboard.dangerouslyPasteHTML(news.body);

  $form.addEventListener("submit", async (e) => {
    e.preventDefault();
    const formData = new FormData($form);
    formData.append("body", quill.getSemanticHTML());

    const response = await fetch(`/api/news/${id}`, {
      method: "PUT",
      body: formData,
    });

    if (response.redirected) {
      window.location.assign(response.url);
    }
  });

  const deleteButton = document.getElementById("delete-document");

  deleteButton.addEventListener("click", async () => {
    const response = await fetch(`/api/news/${id}`, {
      method: "DELETE",
    });

    if (response.redirected) {
      window.location.assign(response.url);
    }
  });
</script>

<style>
  @import url("https://cdn.jsdelivr.net/npm/quill@2.0.2/dist/quill.snow.css");

  form {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
    width: 100%;
    max-width: 71ch;
    border: 2px solid;
    border-color: white black black white;
    border-radius: 4px;
    padding: 2rem 1rem;

    h1 {
      font-weight: bold;
    }

    label {
      width: 100%;
      display: flex;
      flex-direction: column;
      gap: 0.5rem;

      input {
        width: 100%;
        padding: 0.5rem;
        border-radius: 4px;

        &[name="title"] {
          font-weight: bold;
          font-size: 1.75rem;
        }
      }

      textarea {
        padding: 0.5rem;
        resize: none;
        border-radius: 4px;
        field-sizing: content;

        &[name="lead"] {
          font-size: 1.25rem;
        }
      }
    }

    button {
      display: inline-block;
      padding: 0.5rem 2rem;
      border: 2px solid;
      border-color: white black black white;

      &:active {
        border-color: black white white black;
        translate: 0 3px;
      }
    }
  }

  .editor-container {
    background-color: Canvas;
  }

  #editor {
    font-family: "Onest Variable", sans-serif;
    font-size: 16px;
    height: calc(100dvh - 2rem);
    scrollbar-width: thin;
  }

  .preview-container {
    background-color: blue;
    margin-top: 1rem;
  }
</style>
